<div style="margin: 20px;">
    <h2 style="text-align: center;">{{title}}</h2>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
        <input [(ngModel)] = "book.name" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Author</span>
        <input [(ngModel)] = "book.author" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Price</span>
        <input [(ngModel)] = "book.price" type="number" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Genre</span>
        <input [(ngModel)] = "book.genre" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-sm">
    </div>
    <span>Borrowed</span>
    <div class="input-group mb-3" style="margin: 20px;">
          <input [(ngModel)] = "book.status" class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input">
      </div>
    <button (click) ="save()" type="button" class="btn btn-primary btn-lg">Submit</button>
</div>